@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-style: normal;
  src:url("https://fonts.googleapis.com/css?family=Montserrat");
}

body {
  font-family: "Montserrat", sans-serif;
  /*display: flex;*/
}
header {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  margin:-30px
}

.title {
  font-size: 15px;
  margin: 25px
}

.cart-button {
  margin: 25px;
}

.sidenav {
  background: hotpink;
}

ul {
  list-style-type: none;
}

main {
  justify-content: left;
  background-color: green;
}



